server {

  server_name musical.pepperz.de;
  listen 80;
#  listen 443 ssl;
#  listen [::]:443 ssl;
#  ssl on;
#  ssl_certificate         /etc/letsencrypt/live/salat.pepperz.de/fullchain.pem;
#  ssl_certificate_key     /etc/letsencrypt/live/salat.pepperz.de/privkey.pem;

  # Einige Optionen nach Bettercrypto
#  ssl_prefer_server_ciphers on;
#  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
#  ssl_ciphers 'EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA:CAMELLIA256-SHA:AES256-SHA:CAMELLIA128-SHA:AES128-SHA';
#  add_header Strict-Transport-Security max-age=15768000;
#  ssl_session_cache shared:SSL:5m;
#  ssl_session_timeout 30m;

  client_max_body_size 5M;

  location / {
    include         uwsgi_params;
    uwsgi_pass      unix:/opt/www/sockets/weihnachten.sock;
  }

  access_log /opty/www/logs/schichtsalat-access.log compression;
  error_log /opt/www/logs/schichtsalat-error.log;

}
